.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.card{
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    height: 200px;
    overflow: auto;
}
.title{
    margin-bottom: 20px;
}

