.App {
  text-align: center;
  background-color: #e7e7e7;
}

table{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0,0,0);
  width:100%;
  border-collapse: collapse;
}

table tr{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0,0,0);
  text-align: center;
}

.right{
  text-align: right !important;
}

td{
  padding-top: 1em;
  padding-bottom: 1em;
  border-top:1px solid #ccc;
}

thead{
  background:#ccc;
}

.item-p:nth-child(1){
  width:10%;

}

.item{
  border-top:1px;

}

.item-p{
  float:left;
  width:42%;
  text-align: center;
}

.item-img{
  height: 35px;
  float:left;
}